/* Resopnsive section Using Media Query */

@media (max-width: 1568px) {
    header{
        /* display: none; */
    }
    section.first, section.second, section.third{
        width: 100vw;
    }
    section.first .head h1{
        text-align: center;
    }
    section.first .head p{
        font-size: 15px;
        text-align: center;
    }
    section.first .table table{
        width: 80vw;
    }
    main section.second .second-inner{
        width: 100%;
        flex-direction: column;
    }
    main section.second .second-inner .map img{
        width: 70vw;
    }
    .second-inner .description-second h2,  .second-inner .description-second p{
        text-align: center;
        width: 70vw;
    }
    section.third .inner-third{
        flex-direction: column;
    }
    .inner-third .description-third{
        width: 70vw;
        display: flex;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .inner-third .description-third .inner-descp{
        flex-direction: column;
    }
    section.third .inner-third .portfolioimage .charts img{
        margin-bottom: 120px;
    }
    .footer-wrapper .footer-about{
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
    }
    .footer-wrapper .footer-about .about p{
        font-size: 15px;
        padding: 0 50px;
        text-align: center;
    }
    
}

@media (max-width: 1220px) {
    table{
        display: none;
    }
    section.first .head h1{
        font-size: 20px;
    }
    section.first .head p{
        font-size: 12px;
    }
    section.first .btn button{
        width: 150px;
        height: 50px;
        font-size: 12px;
        font-weight: 600;
    }
    section.third .inner-third{
        width: 100vw;
    }
    section.third .inner-third .portfolioimage .portfoliocard{
        width: 50%;
        height: 532px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }
    
    section.third .inner-third .portfolioimage .charts img{
        right: -10%;
        width: 80%;
    }
    .second-inner .description-second .inner-descp{
        width: 70vw;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    section.first .head h1{
        padding: 0 50px;
    }
    section.first .head p{
        padding: 0 50px;
    }
    .footer-wrapper .footer-menu{
        margin: 20px 0;
    }
    footer section.footer-menu .footer-wrapper{
        flex-direction: column;
         align-items: center;
         text-align: center;
    }
}